.nav {
  background-color: #2C3E50;
  width: 100%;
  position: relative;
  z-index: 10;
}

.activeLink {
  background-color: #1abc9c;
  border-radius: 6px;
  transition: background-color 0.15s ease;
}

