.icons {
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
}


